<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shardingtables.mapper.DateMapper">
    <resultMap id="BaseResultMap" type="org.shardingtables.domain.Tdate">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="t_date" property="t_date"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, t_date
    </sql>
    <select id="showAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_date
    </select>

    <insert id="insert" parameterType="org.shardingtables.domain.User">
        insert into t_date (id, t_date)
        values (#{id}, #{date})
    </insert>
    <delete id="deleteUser" parameterType="Long">
        delete
        from t_date
        where id = #{id}
    </delete>
</mapper>