<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shardingtables.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="org.shardingtables.domain.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="str_user" property="str_user"/>
        <result column="str_date" property="str_date"/>
        <result column="str_num" jdbcType="BIGINT" property="str_num"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , str_user, str_date, str_num
    </sql>
    <select id="showAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
    </select>
    <select id="selectUnion" resultType="org.shardingtables.domain.UserDatePojo">
            SELECT * FROM t_user i LEFT JOIN (SELECT * FROM t_date) o
                                           ON i.id = o.id WHERE i.str_date = #{dDate}


    </select>
    <insert id="insert" parameterType="org.shardingtables.domain.User">
        insert into t_user (id, str_user, str_date, str_num)
        values (#{id}, #{str_user}, #{str_date},
                #{str_num})
    </insert>
    <delete id="deleteUser" parameterType="Long">
        delete
        from t_user
        where id = #{id}
    </delete>
</mapper>